name: Code linting

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  format:
    name: Check code formatting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.13

      - name: Install dependencies
        run: |
          uv sync --dev --locked

      - name: ruff check
        run: |
          ruff check .

      - name: ruff format
        run: |
          ruff format .
